<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>
        {% if page.title %} {{ page.title }}
        {% else %} {{ site.name }} &mdash; {{ site.description }}
        {% endif %}
    </title>

    <meta name="robots" content="index,follow">
    <meta name="revisit-after" content="1 days">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="cleartype" content="on">

    <link rel="stylesheet" href="{{ site.url }}/css/main.css" type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

    <link href="{{ site.url }}/css/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>
    <header id="top" class="main-header">
            
        <div class="module title color-1" >
            <h1>
                <a href="{{ site.url }}/">
                    <div>
                        <span>{{ site.name }}</span>
                    </div>
                </a>
            </h1>
        </div>

        <div class="module description color-3">
            {{ site.description }}
        </div>

        <div class="module links color-4">
            <span class="gravatar">
                <img src="{{ site.url }}/images/DanHaywood-2011-280x240.jpg" width="92px"/>
            </span>
            <div class="profiles">
                <a href="https://github.com/{{ site.github }}" title="Github profile" target="_blank">github</a>
                <a href="https://www.youtube.com/user/{{ site.youtube }}" title="Youtube channel" target="_blank">Youtube</a>
                <a href="https://gb.linkedin.com/in/{{ site.linkedin }}" title="Profile in LinkedIn" target="_blank">LinkedIn</a>
                <a href="https://twitter.com/{{ site.twitter }}" title="Twitter posts" target="_blank">twitter</a>
                <a href="https://plus.google.com/{{ site.google }}" title="Profile in Google+" target="_blank">Google+</a>
                <a href="{{ site.url }}/feed.xml" title="Suscribe to RSS" target="_blank">rss</a>
            </div>
        </div>

        <div class="module tags color-2">
            <div>
                {% assign sorted_tags = (site.tags| sort: tag ) %}
                {% for tag in sorted_tags %}
                    <span style="font-size: {{ tag | last | size | times: 150 | divided_by: site.tags.size | plus: 60  }}%">
                    <a href="/tags/{{ tag | first | slugize }}/">
                        {{ tag | first }}
                    </a></span>{% endfor %}
            </div>
        </div>

        {% include footer.html %}

    </header>

    {{ content }}


</body>
</html>
